<footer class="footer-container">
    <!-- Section: Connected heading -->
    <section class="partition1">
      <div class="">
        <span>** Get connected with us **</span>
      </div>
    </section>
  
    <!-- Section: About company -->
    <section class>
      <div class="partition2">
        <h1 class="" style="font-family: 'Times New Roman', Times, serif;">
          <i class="fas fa-gem"></i> Study Spot <i class="fas fa-gem"></i>
        </h1>
        <p>It’s time to step up to the plate and get passionate about your work commit to making eLearning courses that
          don't bore people to tears, but instead inspire and motivate them to learn a new skill, change a certain
          behavior, or improve their performance.</p>
      </div>
  
      <!-- Grid: Links  -->
      <div class="row">
        <div class="column">
          <h3>PRODUCTS</h3>
          <p>Angular</p>
          <p>Java</p>
          <p>SQL</p>
          <p>Mongo DB</p>
          <p>React Js</p>
        </div>
        <div class="column">
          <h3>USEFUL LINKS</h3>
          <p>
          <a style="text-decoration: none; color: whitesmoke;" routerLink="aboutus">About US</a></p>
          <p><a style="text-decoration: none;">Setting</a></p>
          <p><a style="text-decoration: none;">Help</a></p>
          <p><a style="text-decoration: none;">Privacy Policy</a></p>
          <p><a style="text-decoration: none;">Terms & conditions</a></p>
        </div>
        <div class="column">
          <h3>CONTACT US</h3>
          <p> <i class="fas fa-home me-3"></i> Delhi, INDIA</p>
          <p> <i class="fas fa-envelope me-3"></i> info@studyspot.com</p>
          <p> <i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p> <i class="fas fa-phone me-3"></i> + 01 234 567 99</p>
        </div>
      </div>
    </section>
  
    <!-- Section: Social media -->
    <section class="social-icon">
      <a class="btn facebook-icon" style="background-color: antiquewhite" href="#!" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="btn twitter-icon" style="background-color: #20B2AA" href="#!" role="button">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="btn google-icon" style="background-color: #DB7093" href="#!" role="button">
        <i class="fab fa-google"></i>
      </a>
      <a class="btn instagram-icon" style="background-color: #BC8F8F" href="#!" role="button">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="btn linkedin-icon" style="background-color: powderblue" href="#!" role="button">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a class="btn github-icon" style="background-color: antiquewhite" href="#!" role="button">
        <i class="fab fa-github"></i>
      </a>
    </section>
  
    <!-- Copyright -->
    <div class="copyright">
      © 2020 Copyright:
      <a class="copyright-link" href="http://localhost:4200/">StudySpot.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
