.container{
    display: flex;
    padding: 10px;
    background-color: black;
    color: white;
    margin: 0px;
    height: 7%;
    
}
.icon:hover{
cursor:pointer;
color: crimson;
}

.login_button{
    margin-left: auto;
}