<div class="main">
    <div class="main_container">
        <div class="main_container1">
            <img src="../assets/images/loginPage_container_img.jpg" srcset="">
        </div>
        <div class="main_container2">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Favorite food</mat-label>
                  <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
              </form>
              <img src="../StudySpot/src/assets/images/loginpage_main_img.jpg" alt="MainImage">
        </div>
    </div>
</div>
