<div class="mainContainer">
    <div class="container" id="container">
        <div class="form-container log-in-container" >
            <form action="" [formGroup]="form" (ngSubmit) = "onSubmit(form.value)">
                <h1>Login</h1>
                <mat-form-field class="example-full-width">
                    <mat-label>Enter your email</mat-label>
                    <input  matInput formControlName="username">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>Enter your password</mat-label>
                    <input  matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                  </mat-form-field>
                  <button class="login_button" mat-raised-button color="warn" >Login</button>
                  <div class="newUser">
                    <h4 >New to StudySpot?</h4>
                    <a  routerLink="/signup">Create an account.</a>
                    
                </div>
            </form>
            
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>StudySpot</h1>
                    <p>This login form is created using pure HTML and CSS. For social icons, FontAwesome is used.</p>
                </div>
            </div>
        </div>
    </div>
</div>